
<nav class="navbar-affixed-top" data-spy="affix" data-offset-top="200">
    <div class="navbar navbar-default yamm">
        <div class="container">

            <div class="collapse navbar-collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="active">
                        <a href="{{ path('easy_client_homepage') }}">Easy Vente</a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Catégories</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('easy_category_list') }}">Liste</a></li>
                            <li><a href="{{ path('easy_category_add') }}">Ajouter</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Produits</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('easy_product_list') }}">Liste</a></li>
                            <li><a href="{{ path('easy_product_add') }}">Ajouter</a></li>
                        </ul>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Evènements</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('easy_event_list') }}">Liste</a></li>
                            <li><a href="{{ path('easy_event_add') }}">Ajouter</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="active">
                        <a href="{{ path('easy_client_homepage') }}">Easy Vente</a>
                    </li>
                    <li>
                        <a href="{{ path('easy_client_event') }}">Prochaines Ventes</a>
                    </li>
                    <li>
                        <a href="{{ path('easy_client_product') }}">Produits Phares</a>
                    </li>
                    <li>
                        <a href="{{ path("easy_client_update") }}">Paramètres</a>
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                        {% else %}
                            <li><a class=""  href="{{ path('fos_user_registration_register') }} "><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Inscrivez-Vous</span></a></li>
                        {% endif %}
                        <li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a class="" href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a class="" href="{{ path('fos_user_security_login') }}" data-toggle="modal" data-target=""><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        </li>
                    </ul>
                </li>
                </ul>
            </div><!-- /.navbar-collapse -->

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Success</strong>{{ flashMessage }}.
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Info</strong>{{ flashMessage }}.
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Info</strong>{{ flashMessage }}.
                </div>
            {% endfor %}

        </div><!-- /.container-fluid -->
    </div>
</nav>