{% extends '::dashboard.html.twig' %}
{% block breadcrumbs %}
    <div id="heading-breadcrumbs2">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>{{ product.name }}</h1>
                </div>
                <div class="col-md-5">


                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block body %}
    <div class="row">
        <div class="list-group">
            <div class="list-group-item active">
                {{ product.name }}
                <span class="badge">{{ product.price }} €</span>
            </div>
            <div class="list-group-item">
                {{ product.description }}
            </div>

            {% if product.picture %}
                <div class="list-group-item">
                    <img width="300px" src="{{ asset(product.getWebPath())}}" alt="" />
                </div>
            {% endif %}

            <div class="list-group-item">
                Catégories:
                {% for category in product.categories %}
                    <li>{{ category.name }}</li>
                {% endfor %}
            </div>
        </div>
    </div>

    <a type="button" class="btn btn-template-primary" href="{{ path('easy_product_list') }}">Retour</a>
{% endblock %}