{% extends '::base.html.twig' %}

{% block body %}
    <h1> Detail </h1>

    <div class="row">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        {% for category in product.categories %}
            <p>{{ category.name }}</p>
        {% endfor %}
        <p>{{ product.picture }}</p>
        <p>{{ product.qty }}</p>

        {% if product.picture %}
            <img width="300px" src="{{ asset(product.getWebPath())}}" alt="" />
        {% else %}
            <p>Aucune image pour ce produit</p>
        {% endif %}



        <a type="button" href="{{ path('easy_product_list') }}">Retour</a>
    </div>

{% endblock %}