{% extends '::dashboard.html.twig' %}

{% block body %}
    <div class="row">
        <br>
        <div class="list-group">
            <div class="list-group-item active">
                {{ event.name }}
                <span class="badge">{{ event.nbPers }} Places pour cet évènement</span>
            </div>
            <div class="list-group-item">
                {{ event.description }}
            </div>
            <div class="list-group-item">
                <p> Du {{ event.dateStart | date("d/m/Y")  }} à {{ event.dateStart | date("H:i")  }} </p>
                <p>Au {{ event.dateEnd | date("d/m/Y")  }} à {{ event.dateEnd | date("H:i")  }} </p>
            </div>
            <div class="list-group-item">
                Catégories:
                {% for category in event.categories %}
                    <li>{{ category.name }}</li>
                {% endfor %}
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('easy_client_best') }}">Ajouter les produits vendus</a>
        <a class="btn btn-primary" href="{{ path('easy_event_loterie', { id : event.id }) }}">Lancer la lotterie</a>
        <a class="btn btn-info" href="{{ path('easy_event_list') }}">Retour</a>
    </div>

{% endblock %}
