{% extends '::dashboard.html.twig' %}
{% block breadcrumbs %}
    <div id="heading-breadcrumbs2">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>{{ event.name }}</h1>
                </div>
                <div class="col-md-5">


                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block body %}
    <div class="row">
        <br>
        <div class="list-group">
            <div class="list-group-item active">
                {{ event.name }}
                <span class="badge">{{ event.nbPers }} Places pour cet évènement</span>
            </div>
            <div class="list-group-item">
                {{ event.description }}
            </div>
            <div class="list-group-item">
                <p> Du {{ event.dateStart | date("d/m/Y")  }} à {{ event.dateStart | date("H:i")  }} </p>
                <p>Au {{ event.dateEnd | date("d/m/Y")  }} à {{ event.dateEnd | date("H:i")  }} </p>
            </div>
            <div class="list-group-item">
                Catégories:
                {% for category in event.categories %}
                    <li>{{ category.name }}</li>
                {% endfor %}
            </div>
        </div>
        <a class="btn btn-template-main{% if (addProduct == false) %} disabled"{% endif %}
           href="{{ path('easy_client_best') }}">Ajouter les produits vendus</a>
        <a class="btn btn-template-main{% if (loterie == false) %} disabled"{% endif %}"
           href="{{ path('easy_event_loterie', { id : event.id }) }}">
            Lancer la loterie
        </a>
        <a class="btn btn-template-main{% if (addProduct == false) %} disabled"{% endif %}
            href="http://localhost/easyventes/web/app_dev.php/admin/thank/{{event.id}}">
            Cloturer l'évènement
        </a>

        <a class="btn btn-template-primary" href="{{ path('easy_event_list') }}">Retour</a>

        <h3>Produits liés à la vente</h3>
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ product.name }}</div>
                        <div class="panel-body">
                            {% if product.picture %}
                                <img height="100px" src="{{ asset(product.getWebPath())}}" alt="" />
                            {% endif %}
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
