{% extends '::base.html.twig' %}
{% block nav %}
    {% include ':include:navback.html.twig' %}
{% endblock nav %}

{% block body %}
    <h1>Ventes</h1>
    <div class="row">
    <div class="col-md-12" id="customer-orders">
    <div class="box">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <td>Event</td>
                <td>Description</td>
                <td>Début</td>
                <td>Fin</td>
                <td>Actions</td>
            </tr>
            {% for event in pagination %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.description}}</td>
                    <td>{{ event.dateStart | date('d/m/y H:i') }}</td>
                    <td>{{ event.dateEnd | date('d/m/y H:i') }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('easy_event_detail', {'id': event.id})  }}">Voir</a>
                        <a class="btn btn-primary" href="{{ path('easy_event_update', {'id': event.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <a class="btn btn-primary" href="{{ path('easy_event_add') }}"> Ajouter un nouvel évènement</a>
    </div>

    </div>
{% endblock %}