{% extends '::base.html.twig' %}
{% block nav %}
    {% include ':include:navback.html.twig' %}
{% endblock nav %}
{% block body %}
    <h1>Liste des events</h1>
    <div class="row">
        <table>
            <tr>
                <td>Event</td>
                <td>Description</td>
                <td>Action</td>
            </tr>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.description}}</td>
                    <td><a href="{{ path('easy_event_detail', {'id': event.id})  }}">Voir</a>
                    <a href="{{ path('easy_event_update', {'id': event.id}) }}">Modifier</a>
                    <a href="{{ path('easy_event_remove', {'id': event.id})  }}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{{ path('easy_event_add') }}"> Ajouter un nouveau produit</a>
{% endblock %}