{% extends '::base.html.twig' %}
{% block breadcrumbs %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Ventes à venir</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">
                        <li><a href="">Acceuil</a>
                        </li>
                        <li>Ventes à venir</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block body %}
    <h1></h1>
    <div class="row">
        <div class="col-md-9" id="customer-orders">
            <div class="box">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <td>Event</td>
                            <td>Description</td>
                            <td>Début</td>
                            <td>Fin</td>
                            <td>Action</td>
                        </tr>
                        {% for event in pagination %}
                            <tr>
                                <td>{{ event.name }}</td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.dateStart | date('d/m/y H:i') }}</td>
                                <td>{{ event.dateEnd | date('d/m/y H:i') }}</td>
                                <td>
                                    <a href="{{ path('easy_client_event_detail', {'id': event.id}) }}" class="btn btn-template-main">Voir</a>
                                    <a href="{{ path('easy_client_event_inscription', {id : event.id }) }}" class="btn btn-template-primary">Participer</a>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}